<div class="modal fade" id="MessageModal">
    <div class="modal-dialog">
        <button type="button" class="close message_modal_close" data-dismiss="modal" aria-label="Close">
            <img src="{{ 'Vector-cross.png' | asset_url }}">
        </button>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="voucher_modal_heading">Please Enter A Gift Message</h5>
            </div>
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="voucher_modal_heading">Please Enter A Gift Message</h5>
                </div>
                <div class="modal_inner">
                    <div class="customer_voucher_master">
                        <div class="customer_voucher_inner">
                            <p class="color-black">Custom Message to recipient</p>
                            <textarea placeholder="e.g. To Barry" class="gift_message"></textarea>
                            <button type="button" class="gift-btn confirm_gift_message">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>